fastapi
uvicorn
langchain
langchain-google-genai
langchain-community
faiss-cpu
apscheduler
httpx
beautifulsoup4
requests
python-dotenv
tiktoken
langchain-huggingface
langchain-groq
sentence-transformers
groq
